.banner {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 832px;
    background-image: url(../../../public/img/backgroundBanner.png);
    background-size: cover;
}